name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        sudo apt-get update && sudo apt-get install --quiet --assume-yes gcc clang imagemagick libglfw3-dev libopenvr-dev libmpv-dev libsdl3-dev
    - name: make
      run: make compile
