# SPDX-FileCopyrightText: 2025 QuantumHole <QuantumHole@github.com>
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        # libsdl3-dev is only available since Ubuntu plucky, so this will fail on Ubuntu noble and earlier
        lsb_release -a && sudo apt-get update && sudo apt-get install --assume-yes gcc clang imagemagick libglfw3-dev libopenvr-dev libmpv-dev libsdl3-dev
    - name: make
      run: make compile
